In [67]:
import pandas as pd

In [68]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
ingest_file = 'yellow_tripdata_2020-10.csv.gz'
tripdata = f'{prefix}/{ingest_file}'

In [69]:
df = pd.read_csv(tripdata)

/tmp/ipykernel_3164/2369755199.py:1: DtypeWarning: Columns (0: store_and_fwd_flag) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(tripdata)

In [70]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-10-01 00:09:08,2020-10-01 00:11:05,1.0,0.0,1.0,N,145,145,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
1,1.0,2020-10-01 00:09:19,2020-10-01 00:19:46,1.0,2.0,1.0,Y,238,143,2.0,9.5,3.0,0.5,0.00,0.0,0.3,13.30,2.5
2,1.0,2020-10-01 00:30:00,2020-10-01 00:39:05,1.0,2.1,1.0,N,264,230,1.0,9.0,3.0,0.5,2.56,0.0,0.3,15.36,2.5
3,2.0,2020-10-01 00:56:46,2020-10-01 00:57:10,1.0,0.0,1.0,N,264,152,3.0,-2.5,-0.5,-0.5,0.00,0.0,-0.3,-3.80,0.0
4,2.0,2020-10-01 00:56:46,2020-10-01 00:57:10,1.0,0.0,1.0,N,264,152,1.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0

In [71]:
df.dtypes

VendorID                 float64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [72]:
len(df)

1681131

In [73]:
df['tpep_pickup_datetime']

0          2020-10-01 00:09:08
1          2020-10-01 00:09:19
2          2020-10-01 00:30:00
3          2020-10-01 00:56:46
4          2020-10-01 00:56:46
                  ...
1681126    2020-10-05 18:41:00
1681127    2020-10-05 18:02:09
1681128    2020-10-05 18:06:48
1681129    2020-10-05 18:48:50
1681130    2020-10-05 18:07:00
Name: tpep_pickup_datetime, Length: 1681131, dtype: str

In [74]:
df.shape

(1681131, 18)

In [75]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    prefix + ingest_file,
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [76]:
!uv add sqlalchemy "psycopg2[binary,pool]"

Resolved 120 packages in 0.59ms
Audited 13 packages in 1ms

In [77]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [78]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [79]:
# only to create table with no data written to it yet
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [90]:
df_iter=pd.read_csv(
    prefix + ingest_file,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [88]:
for df_chunk in df_iter:
    print(len(df_chunk))

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
81131

In [82]:
!uv add tqdm

Resolved 120 packages in 0.61ms
Audited 13 packages in 0.21ms

In [83]:
from tqdm.auto import tqdm

In [91]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0it [00:00, ?it/s]

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
81131